*{
  margin:0px;
  padding:0px;
}

body{
  background: linear-gradient(to right,#ff33cc,#ffcc66);
}
.main{
  border: 3px solid black;
  width:25%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:35%;
  margin-top:15%;
  background: linear-gradient(to right, #33ccff , #ff99cc);
  border-radius: 30px;
  padding: 2%;
  text-align: center;
}

.que-area{
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.option-area{
  margin-bottom: 5%;
  display:flex;
  flex-direction: column;
  color:black;
  font-weight: bold;
  font-size: 1rem;
}
.option-area button{
  border: none;
  margin-top:10px;
  width: 160px;
  height: 30px;
  background-color: lightgreen;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

/* .option-area button:hover{
    background-color:lightseagreen; 
} */

@media (hover: hover) and (pointer: fine) {
  .option-area button:hover { 
      ackground-color:lightseagreen;
  }
}

.option-are button:focus{
  outline: none;
}

.icon{
  color:blue;
  width: 40vmin;
  height: 70px;
  cursor: pointer;
}

.icon:hover{
  color:lawngreen;
}

@media screen and (max-width:1000px) {
  .main{
    border: 3px solid black;
    width:35%;
    margin-left:30%;
    margin-top:15%;
  }
}

@media screen and (max-width:700px) {
  .main{
    border: 3px solid black;
    width:250px;
    margin:auto;
    margin-top:30%;
  }
  .heading{
    font-size: 24px;
  }


}


@media screen and (max-width:440px) {
  .main{
    border: 3px solid black;
    width:200px;
    margin:auto;
    margin-top:35%;
  }
  .heading{
    font-size: 18px;
  }
  .que-area p{
    font-size: 18px;
  }

  .result{
    font-size: 18px;
  }


}
